<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="58fa0b3e-76c1-40fe-a15b-16ae59c11685" wadlVersion="http://wadl.dev.java.net/2009/02" name="Demo" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="58fa0b3e-76c1-40fe-a15b-16ae59c11685fileName">Demo</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>